fabserver/views/index.pug
extends layout

block content
	.mdl-grid
		.mdl-cell.mdl-cell--1-col
		.mdl-cell.mdl-cell--10-col
			.mdl-grid
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title#card-1
							h2.mdl-card__title-text Upload a job
						.mdl-card__supporting-text
							| Upload a .fab file from your browser to the FabServer.
							br
							br
							| The job file will be available to run on the FabLight machine.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/upload')
								| Get Started
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title#card-2
							h2.mdl-card__title-text Job management console
						.mdl-card__supporting-text
							| View, edit, or delete job files on the FabServer.
							br
							br
							| Administrator access is required for viewing files in other user accounts.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/files')
								| Manage jobs
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title#card-3
							h2.mdl-card__title-text Machine service
						.mdl-card__supporting-text
							| Tools for machine service and troubleshooting.
							br
							br
							| Includes a terminal and FabLight support services.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect(href='/service')
								| Service tools
			h4 Inactive services
			.mdl-grid
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title.card-disabled
							h2.mdl-card__title-text Scheduler
						.mdl-card__supporting-text
							| Schedule a work order using a calendar interface.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--disabled(href='')
								| Schedule
				.mdl-cell.mdl-cell--4-col
					.card-wide.mdl-card.mdl-shadow--2dp
						.mdl-card__title.card-disabled
							h2.mdl-card__title-text Manage shipments
						.mdl-card__supporting-text
							| View, create, and manage shipments. Track work orders.
						.mdl-card__actions.mdl-card--border
							a.mdl-button.mdl-button--colored.mdl-js-button.mdl-js-ripple-effect.mdl-button--disabled(href='')
								| Shipments


	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script.

fabserver/views/index.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row"><a href="/"><img class="logo" src="images/logo.png"><span class="mdl-layout-title">FabServer</span></a>
          <!-- Add spacer, to align navigation to the right-->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens.-->
          <nav class="mdl-navigation mdl-layout--large-screen-only"><a class="mdl-navigation__link" href="/upload">Upload</a><a class="mdl-navigation__link" href="/files">File management</a><a class="mdl-navigation__link" href="/service">Service</a></nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here-->
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--1-col"></div>
            <div class="mdl-cell mdl-cell--10-col">
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title" id="card-1">
                      <h2 class="mdl-card__title-text">Upload a job</h2>
                    </div>
                    <div class="mdl-card__supporting-text">Upload a .fab file from your browser to the FabServer.<br><br>The job file will be available to run on the FabLight machine.</div>
                    <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/upload">Get Started</a></div>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title" id="card-2">
                      <h2 class="mdl-card__title-text">Job management console</h2>
                    </div>
                    <div class="mdl-card__supporting-text">View, edit, or delete job files on the FabServer.<br><br>Administrator access is required for viewing files in other user accounts.</div>
                    <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/files">Manage jobs</a></div>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title" id="card-3">
                      <h2 class="mdl-card__title-text">Machine service</h2>
                    </div>
                    <div class="mdl-card__supporting-text">Tools for machine service and troubleshooting.<br><br>Includes a terminal and FabLight support services.</div>
                    <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" href="/service">Service tools</a></div>
                  </div>
                </div>
              </div>
              <h4>Inactive services</h4>
              <div class="mdl-grid">
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title card-disabled">
                      <h2 class="mdl-card__title-text">Scheduler</h2>
                    </div>
                    <div class="mdl-card__supporting-text">Schedule a work order using a calendar interface.</div>
                    <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--disabled" href="">Schedule</a></div>
                  </div>
                </div>
                <div class="mdl-cell mdl-cell--4-col">
                  <div class="card-wide mdl-card mdl-shadow--2dp">
                    <div class="mdl-card__title card-disabled">
                      <h2 class="mdl-card__title-text">Manage shipments</h2>
                    </div>
                    <div class="mdl-card__supporting-text">View, create, and manage shipments. Track work orders.</div>
                    <div class="mdl-card__actions mdl-card--border"><a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect mdl-button--disabled" href="">Shipments</a></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script></script>
        </div>
      </main>
    </div>
  </body>
</html>
