fabserver/views/service.pug
extends layout

block content
	.mdl-grid
		.mdl-cell.mdl-cell--2-col
		.mdl-cell.mdl-cell--8-col
			h1 Service tools
			p For administrators only.
			a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href='/terminal')
				| Terminal
			br
			br
			a.mdl-button.mdl-js-button.mdl-button--raised.mdl-button--colored(href='/service/update')
				| Update Machine Software

	script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
	script(src="/socket.io/socket.io.js")
	script.
		var socket = io.connect(self.location.host);

fabserver/views/service.html
<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row"><a href="/"><img class="logo" src="images/logo.png"><span class="mdl-layout-title">FabServer</span></a>
          <!-- Add spacer, to align navigation to the right-->
          <div class="mdl-layout-spacer"></div>
          <!-- Navigation. We hide it in small screens.-->
          <nav class="mdl-navigation mdl-layout--large-screen-only"><a class="mdl-navigation__link" href="/upload">Upload</a><a class="mdl-navigation__link" href="/files">File management</a><a class="mdl-navigation__link" href="/service">Service</a></nav>
        </div>
      </header>
      <main class="mdl-layout__content">
        <div class="page-content">
          <!-- Your content goes here-->
          <div class="mdl-grid">
            <div class="mdl-cell mdl-cell--2-col"></div>
            <div class="mdl-cell mdl-cell--8-col">
              <h1>Service tools</h1>
              <p>For administrators only.</p><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/terminal">Terminal</a><br><br><a class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored" href="/service/update">Update Machine Software</a>
            </div>
          </div>
          <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
          <script src="/socket.io/socket.io.js"></script>
          <script>var socket = io.connect(self.location.host);</script>
        </div>
      </main>
    </div>
  </body>
</html>
